[Desktop Entry]
Exec=screenkey
Name=[Keyboard][Onscreen][screenkey] screenkey - A keyboard overlay for keypresses
Type=Application
Version=1.0
X-LXQt-Autostart-disabled=true
