# Copy this to ~/.config/skippy-xd/skippy-xd.rc and edit it to your liking
#
# File Syntax:
# Comments must be on their own seperate lines that start with a #
#
# colors can be anything XAllocNamedColor can handle
# (like "black" or "#000000")
#
# fonts are Xft font descriptions
#
# booleans are "true" or anything but "true" (-> false)
#
# opacity is an integer in the range of 0-255
#

# For system config options, stop and then start new skippy daemon
# To reload config options
# All other config options can be reloaded on the fly
# With skippy-xd --config or skippy-xd --config-reload

[system]

# When focus is stolen off skippy-xd
# E.g. a window is newly created during skippy-xd activation

# File path for client-to-daemon communication
daemonPath = /tmp/skippy-xd-fifo

# File path for daemon-to-client communication
clientPath = /tmp/skippy-xd-fofi

# Frequency to update pixmaps
updateFreq = 60.0

# This queries the list of windows
# Depending on your window manager, you may want to choose between
# XQueryTree, _NET_CLIENT_LIST, _WIN_CLIENT_LIST
# If you see missing windows, or windows that you did not expect,
# Or even crashes,
# Try a different option
clientList = XQueryTree

# when compositors such as picom are not used
# turn on pseudo-transparency
# pseudoTrans = false
pseudoTrans = true


[multimonitor]

# Filter windows by Xinerama monitor
showOnlyCurrentMonitor = true

# Display only windows on the current XScreen
showOnlyCurrentScreen = true


[layout]

# xd: row-to-row layout
# cosmos: position preserving layout
switchLayout = xd
exposeLayout = xd

# Wait time before displaying switch previews
switchWaitDuration = 0

switchCycleDuringWait = false

# Enable to cycle through all virtual desktops
switchCycleDesktops = false
exposeCycleDesktops = false

# Relative minimal distance between windows
distance = 25

# Whether to show the window bigger than its original size
allowUpscale = false

[display]

movePointer = true

# Set = 0 to switch off animations
animationDuration = 0

# Animation refresh rate in fps
animationRefresh = 60

# Background when skippy-xd is activated
# To display background wallpaper:
#   background = /home/richard/screenshots/256.png
# For tinted background:
#   background = #00000055
# For transparent background:
#   background = None
background = #00000055

# During paging mode, preserve original desktop appearance
# From the background being applied
preservePages = true

# Whether to display window frames
includeFrame = true

# Show window previews with rounded corners,
# with corner radius in pixels
cornerRadius = 0

# Whether to show icons on live preview thumbnails
icon = true
iconPlace = right mid
iconSize = 33

[filler]
tint = #333333
iconPlace = mid mid
iconSize = 48

[normal]
tint = black
tintOpacity = 0
opacity = 255

[highlight]
tint = #444444
tintOpacity = 50
opacity = 255

[shadow]
tint = #040404
tintOpacity = 0
opacity = 160

[multiselect]
tint = #3376BB
tintOpacity = 50
opacity = 255

[panel]
show = false
backgroundTinting = false
reserveSpace = false

# Windows of type _NET_WM_WINDOW_TYPE_DESKTOP
[desktop]
show = true
backgroundTinting = true


[label]
show = true
option = windowTitle
# option = windowClass
offsetX = 0
offsetY = -5
width = 0.8
border = #0e0e0e
background = #202020
backgroundHighlight = #666666
opacity = 128
text = white
textShadow = black
font = fixed-11:weight=bold


[bindings]

# When focus is stolen off skippy-xd
# E.g. a window is newly created during skippy-xd activation
# Focus back on skippy-xd
enforceFocus = true


# After this time, pivot "locks" into toggle mode
# And the pivot key no longer needs to be held
# Set to 0 to disable pivot locking
pivotLockingTime = 0




# key* = is a list of valid XWindows KeySym identifiers, case
# sensitive and <space> seperated list. Run the program 'xev' to find them.

keysUp = k
keysDown = j
keysLeft = h
keysRight = l

keysSelect = Return space
keysCancel = Escape q
keysNext = n
keysPrev = p

# keysIconify = 1 i
# keysShade = 2 s
# keysClose = 3 c
keysClose = c

# mouse button bindings, options include
# "no": do nothing
# "focus": select window
# "iconify": minimize window
# "shade-ewmh": toggle window shade
# "close-icccm": close window with ICCCM method
# "close-ewmh": lcose window with EWMH method
# "destroy": forcefully destroy window
# "keysPrev": focus on previous window
# "keysNext": focus on next window

miwMouse1 = focus
miwMouse2 = close-ewmh
# miwMouse3 = iconify
miwMouse4 = keysNext
miwMouse5 = keysPrev
