[Desktop Entry]
Name=ShareX
Exec=env WINEPREFIX="/home/dex/.wine" wine C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\ShareX\\\\ShareX.lnk
Type=Application
StartupNotify=true
Path=/home/dex/.wine/dosdevices/c:/Program Files/ShareX
Icon=3853_ShareX.0
StartupWMClass=sharex.exe
