#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=DeepSeek - Into the Unknown
Exec=/opt/thorium-browser/thorium-browser --profile-directory=Default --app-id=hmjcdonmhijmnefklekckjkeoknbiipb
Icon=thorium-hmjcdonmhijmnefklekckjkeoknbiipb-Default
StartupWMClass=crx_hmjcdonmhijmnefklekckjkeoknbiipb
