#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Qwen
Exec=/opt/thorium-browser/thorium-browser --profile-directory=Default --app-id=callopjomjkljkgpgnflciibleibpnbp
Icon=thorium-callopjomjkljkgpgnflciibleibpnbp-Default
StartupWMClass=crx_callopjomjkljkgpgnflciibleibpnbp
