#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=NotebookLM
Exec=/opt/thorium-browser/thorium-browser --profile-directory=Default --app-id=gjcmcplpgihbecacndmmbaenpfgimlec
Icon=thorium-gjcmcplpgihbecacndmmbaenpfgimlec-Default
StartupWMClass=crx_gjcmcplpgihbecacndmmbaenpfgimlec
